* {
    box-sizing: border-box;
}

i{
     font-family: 'FontAwesome';
}
/* MAIN BLOG */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .date {
    color: grey;
  }
  
  .image-blog-links {
    text-decoration: none;
    color: black;
  }

  .image-blog-links .column:hover {
      width: 31.33%;
      transition: 0.5s;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* //MAIN BLOG */

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: rgb(255, 255, 255);
    font-family: 'Lora', serif;
}

header {
    background: #e8e5e4de;
    height: 66px;
}

header * {
    color: rgb(134, 134, 134);
}

header .logo-text {
    color: black;
    margin: 15px;
    font-family: 'Julius Sans One', sans-serif;
}

header .logo {
    float: left;
    height: inherit;
    margin-left: 2em;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: sans-serif;
}

.showing {
    max-height: 100em;
    transition: 2.5s;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    padding: 24px;
    font-size: 1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #cececec4;
    color: black;
    transition: 0.5s;
}

header .menu-toggle {
    display: none;
}

.page-wrapper {
    min-height: 100%;
}

.btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: white;
}

.btn-big:hover {
    background-color: rgba(255, 255, 255, 0.767);
}

/* FOOTER */
.footer {
    background: #e8e5e4de;
    color: black;
    height: 400px;
    position: relative;
    text-decoration: none;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content h2 {
    color: black;
    font-family: 'Julius Sans One', sans-serif;
}


.footer .footer-content .links ul a {
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 1.3em;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.footer .footer-content .links ul a:hover {
    margin-left: 15px;
    transition: all .3s;

}

.footer .footer-content .contact-form .contact-input {
    background: rgba(255, 255, 255, 0.931);
    color: black;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .footer-content .contact-form .contact-input:focus {
    background: white;
}

.footer .footer-bottom {
    background:#d3d2d2de;
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}

/* Media Queries */

@media only screen and (max-width: 755px) {
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        background: #dbdbdbde;
        max-height: 0px;
        overflow: hidden;
    }
    header ul li {
        width: 100%;
    }
    header .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
        font-size: 1.9em;
    }

    header .logo {
        margin-left: .5em;
    }
}
